@import "../typography/typography.scss";

header {
    background-color: var(--bgcolor1);
    padding: 28px 80px;
    position: sticky;
    top: 0;
    z-index: 99;
    .first {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        .first-div1 {
            display: flex;
            align-items: center;
            gap: 32px;
            height: 100%;
            .first-div1-ancer {
                height: 100%;
                display: flex;
                align-items: center;
                a {
                    color: var(--color2);
                    text-decoration-line: none;
                    @include font14;
                    cursor: pointer;
                    display: block;
                    &::after {
                        display: block;
                        content: "";
                        width: 0%;
                        height: 2px;
                        transition: .3s ease-in-out;
                        background-color: #fff;
                        margin-top: 8px;
                    }
                    &:hover::after {
                        width: 100%;
                        transition: .5s ease-in-out;
                    }
                }         
            }
        }
        .first-div3 {
            display: flex;
            gap: 28px;
            align-items: center;
            justify-content: flex-end;
            .first-div3-main1 {
                display: flex;
                align-items: center;
                gap: 32px;
                height: 100%;
                .first-div3-main1-ancer {
                    height: 40px;
                    display: flex;
                    align-items: center;
                    padding-bottom: 2px;
                    &:hover {
                        border-bottom: 2px solid var(--color2);
                        padding-bottom: 0;
                    }
                    a {
                        color: var(--color2);
                        text-decoration-line: none;
                        @include font14;
                        cursor: pointer;
                        display: block;
                    }
                }
            }
        }
    }
}
