@import "../typography/typography.scss";

.first-div3-main2 {
    button {
        background-color: var(--color2);
        color: var(--bgcolor1);
        border: 1px solid transparent;
        padding: 12px 25px;
        border-radius: 99px;
        height: 42px;
        @include font14;
        line-height: 18px;
        cursor: pointer;
        transition: .3s ease-in-out;
        &:hover {
            background-color: var(--bgcolor2);
            transition: .3s ease-in-out;
        }
    }
}

.video-position-absolute-div-button {
    display: flex;
    justify-content: center;
    button {
        background-color: var(--color2);
        color: var(--bgcolor1);
        border: 1px solid transparent;
        padding: 12px 25px;
        border-radius: 99px;
        height: 42px;
        @include font14;
        line-height: 18px;
        cursor: pointer;
        transition: .3s ease-in-out;
        &:hover {
            background-color: var(--bgcolor2);
            transition: .3s ease-in-out;
        }
    }
}

.video-position-absolute-div-button2 {
    display: flex;
    justify-content: center;
    button {
        background-color: transparent;
        color: var(--color2);
        border: 1px solid var(--color2);
        padding: 12px 25px;
        border-radius: 99px;
        height: 42px;
        @include font14;
        line-height: 18px;
        cursor: pointer;
        transition: .3s ease-in-out;
        &:hover {
            color: var(--bgcolor1);
            background-color: var(--bgcolor2);
            border: 1px solid transparent;
            transition: .3s ease-in-out;
        }
    }
}

.featuredTow-grid-one-div2 {
    display: flex;
    justify-content: center;
    button {
        background-color: transparent;
        color: var(--bgcolor1);
        border: 1px solid var(--bgcolor1);
        padding: 12px 25px;
        border-radius: 99px;
        height: 42px;
        @include font14;
        line-height: 18px;
        cursor: pointer;
        transition: .3s ease-in-out;
        &:hover {
            color: var(--color2);
            background-color: var(--bgcolor1);
            transition: .3s ease-in-out;
        }
    }
}

.featured-Single-relative-div {
    button {
        background-color: var(--color2);
        color: var(--bgcolor1);
        border: 1px solid transparent;
        padding: 12px 25px;
        border-radius: 99px;
        height: 42px;
        @include font14;
        line-height: 18px;
        cursor: pointer;
        transition: .3s ease-in-out;
        &:hover {
            background-color: var(--bgcolor2);
            transition: .3s ease-in-out;
        }
    }
}